
#shell, #bottomNav {
	background-image: url("../assets/backgrounds/geometry2.png");
 	} 
 	
 .topNav {

 }
 .navbar {
 	background-color: $gold;
 	height: 90px;
 	img {
 	position: absolute;
 	margin-top: -5px;
 	width: 88px;
 	height: 88px;
 		@media(min-width: 596px){
 		}
 	}
 }	
img.navbar-brand.logo {
	
	
}
.navbar-toggler {
	align-self:flex-end;
	font-size: 2rem;

}
.navbar-nav {
	padding-top: 40px;
  text-align: right; 
}
#navbarNav {
	padding: 0;
}
.div#navbarNav.navbar-collapse.collapse.show {
	padding: 0;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
    font-size: 20px;
    padding-right: 10px;
	}

h1 {
	text-align: center;
	font-weight: bold;
	color: $gray-800;
}


#home-col {
	background: url("../assets/images/cupcakes-pastel-large.jpg") no-repeat center;
	height: 852px;
	padding: 100px 5% 0 5%;
	margin-top: 0;
	h1 {
	padding-top: 150px;
		font-size: 80px;
		font-weight: 300;
		color: #78ddf9;
	}
	justify-content: center;
		.text-logo {
		display: inline-block;
		margin: 0 auto;
		padding-top: 80px;
		 width: 100%;
		 @media(min-width: 596px){
		 width: 100%;
		 }
		}
}

#about-us, #about-product {
	padding: 50px 10%;
	h1 {
		padding-bottom: 30px;
	}
	img {
		padding-bottom: 30px;
	}
}
#about-us{
 	background-image: url("../assets/backgrounds/symphony-gold.jpg");
 	h1 {
 		color: $blue;
 	}
 	img {
 		width: 75%;
 	}
}

#about-product{
 background: url("../assets/backgrounds/knitting-blue.jpg");
 img {
 	width: 75%;
 }
 h1 {
 	color: $gold;
 }
}
#history {
	background: $lilac;
	padding: 50px 15%;
	h1 {
		padding: 50px 0;
	}
	img {
		width: 40%;
		padding: 30px;
		float: left;
	}
	#second {
		float: right;
	}
}
.carousel-item {
	img {
		padding: 10px 100px;
		margin: 100px 0;
	}
	h3 {
		padding: 50px 95px 0 0;
	
	}
	p {
		padding:  0 95px 10px 0;
	}


	a{
	margin-right: 95px;
	
	padding: 10px 20px;
		
	}  
}


#item1 {
	background: #7fc98f;
	a{
		color: #fff;
		background:#494a12;
	}
	a:hover{
		color: #494a12;
		background:#fff;
		border: 2px solid #494a12;
		text-decoration:none;
	}	
}

#item2 {
	background: #dea0f7;
	a{
		color: #fff;
		background:#632326;
	}
	a:hover{
		color: #632326;
		background:#fff;
		border: 2px solid #632326;
		text-decoration:none;
	}
}

#item3 {
	background: #78ddf9;
	a{
		color: #fff;
		background:#10236a;
	}
	a:hover{
		color: #10236a;
		background:#fff;
		border: 2px solid #10236a;
		text-decoration:none;
	}
}





.carousel-control-next-icon {
	color: #000;
}


#articles {
	padding-bottom: 0;


}

.grid-item { width: 500px; }
.grid-item--width2 { width: 1000px; }
#articles-list {
	
	//height: 100px;
	ul {
		margin-bottom: 200px;
	}
	a {
		text-decoration: none;
		padding-bottom: 60px;
	}
}
#contact {
	
	a{

	}
	a:hover {
		color: #bc9940;
		text-decoration:none;
	}
}
	#mail {
		
		border-right: 3px solid $gray-400;
	}


.navbar-nav > .nav-item {
	color: red;
}
.navbar-nav > .nav-item:hover {
	color: blue;
}

#social-media{
.navbar-light .navbar-nav .active > .nav-link{}

}
#social-media > li {
	font-size: 30px;
     color: red;
}

