
#shell, #bottomNav {
	background-image: url("../assets/backgrounds/geometry2.png");
	font-family: "Open Sans", Arial, sans-serif;
 	} 
 .navbar {
 	background-color: transparent;
 	 #logo{
	 		position: absolute;
	 		display: block;
	 		margin-top: 7px;
	 		margin-left: 5px;		
 	}
 }	
 button.navbar-toggler {
 	z-position: 2;
 }
.navbar-toggler {
	align-self:flex-end;
	font-size: 1rem;
	border: none;
	@media(min-width: 596px){
		font-size: 2rem;
	}
}
.navbar-nav {
	z-position: 1;
	padding-top: 0;
	margin-top: 0;
	height: 90px;
	flex-direction: column;
	a {
		background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0.8));
	}
  	
}
#navbarNav {
	padding: 0;
}
.div#navbarNav.navbar-collapse.collapse.show {
	padding: 0;
}
.navbar-nav > li {
    display: inline-block;
    float:none;
    font-size: 20px;
    text-align: right;
	}
h1, h2 { font-family: "Open-sans", Arial, sans-serif}
h1 {
	font-size: 3rem;
	font-weight: 400;
	letter-spacing: 1rem;
}
h2 {
	font-size: 2rem;
	font-weight: 300;
	letter-spacing: .3rem;
}
#home-col {
	background: url("../assets/images/cupcakes-pastel-large.jpg") no-repeat center;
	height: 852px;
	padding: 100px 5% 0 5%;
	margin-top: 0;
	justify-content: center;

	h1 , span{
		background: rgba(230, 230, 255, .7);
		margin-top: 100px;
		padding-top: 0;
		text-align: center;
		font-size: 2rem;
		font-weight: 300;
		letter-spacing: 1.2rem;
		color: $green;	
	}
	span{
		background: $green;
		margin-top: 60px;
		margin-right: 8px;
		padding: 5px;
		text-align: left;
		font-size: 1rem;
		letter-spacing: 0.5rem;
		color: #fff;
	}
	@media (min-width: 596px){
		h1, h2 {
			font-size: 3rem;	
		}
		span{
			font-size:1rem;	
		}
	}
		@media (min-width: 768px){
			h1, h2 {
			font-size: 6rem;
		}
		span {
			font-size: 2.6rem;
		}
		h2{
			font-size: 6rem;
		}
		}
		.text-logo {
			display: inline-block;
			margin: 0 auto;
			padding-top: 80px;
			 width: 100%;
			 @media(min-width: 596px){
			 width: 100%;
			 }
		}
}

#store {
	background-color: #eef9f0;
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%239C92AC' fill-opacity='0.17' fill-rule='evenodd'/%3E%3C/svg%3E");
	padding: 80px 10% 120px 10%;
	h1 {
		padding-bottom: 70px;
		//font-size: 3em;
		//font-weight: 300;
		//letter-spacing: 1.3rem;
		color: $gray-700
	}
	img {
		display: block;
		margin: 0 auto;
	}
	p {
		text-align: center;
	}	
	a{
		background:#494a12;
		display:inline-block;
		margin: 0 auto;
		margin-top: 50px;
		text-align: center;
		padding: 10px 50px;
		letter-spacing: 0.8rem;
		color: #fff;
	}
	a:hover{
		background:#fff;
		border: 2px solid #494a12;
		text-decoration:none;
		color: #494a12;
	}
}

#about-us, #about-product {
	padding: 50px 10%;
	h1 {
		//font-size: 3rem;
		padding-bottom: 30px;
	}
	h2 {
		//font-size: 2rem;
		padding-bottom: 30px;
	}
	p {
		text-align: justify;
	}
	img {
		padding-bottom: 30px;
	}
}
#about-us{
 	h1, p {
 		color: $gray-800;
 	}
 	img {
 		width: 75%;
 	}
}

#about-product{
 	background: url("../assets/backgrounds/knitting-blue.jpg");
	 img {
 		width: 75%;
 	}
 	h2,p{
 		color: #fff;
 	}
}

#history {
	background: $lilac;
	padding: 30px 10%;
	h1 {
		
		background: #954548;
		padding-top: 30px;
		padding-left: 5%;
		padding-right: 2%;
		vertical-align: middle;
		width: 100%;
		padding-bottom: 27px;
		text-align: center;
		//font-size: 1.5em;
		//font-weight: 300;
		//letter-spacing: 1.3rem;
		color: #fff;
		@media(min-width: 443px){
			font-size: 3em;
		}
	}
	p {
		padding-top: 30px;
		text-align: left;
	}
	img {
		display: block;
		float:none;
		padding-top: 30px;
		width: 100%;
		max-width: 100%;	
	}
	@media(min-width: 768px){
		img {		
			width: 40%;
			padding: 30px;
			float: left;
		}
		#second {
			float: right;
		}
	}
}

#articles {
	padding-top: 100px;
	padding-bottom: 100px;
	font-size: 50px;
	font-weight: 400;
	h1{
		color: $gray-600;
		//letter-spacing: 1rem;
	}

}

.grid-item { width: 300px; }
.grid-item--width2 { width: 600px; }

#contact {
	padding-top: 100px;
	@media(min-width: 768px){
			padding-bottom: 50px;
		}
	
}
#contact-col {
	a{
 	text-decoration: none;
 	color: $gray-600;
	}
	a:hover {
		color: $blue;	
	}
	p{
		padding-top: 40px;
	}
	#mail {
		
		border-right: 3px solid $gray-400;
	}

}

.social-media{

	justify-content: center;
	display: flex;
	flex-direction:row;
	padding-top: 50px;

 .social {
	font-size: 30px;
     color: $gold;
	padding: 20px;
	}
	.social:hover {
		color:#fbcb04;
		font-size: 32px;
	}
}