// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.
#shell, #bottomNav {
	background-image: url("../assets/backgrounds/geometry2.png");
    padding-top: 100px;
 	} 

 .navbar {
 	background-color: $gold;
 	height: 50px;
 }	

.navbar-nav {
	    float:none;
	    margin:0 auto;
	    display: block;
	    text-align: center;
	 
		}

.navbar-nav > li {
	    display: inline-block;
	    float:none;
	    font-size: 20px;
	    padding-right: 10px;
	}

#social-media > li {
	font-size: 30px;

}

h1 {
	font-weight: bold;
	color: $gray-800;
}
#home {
	h1 {
		font-weight: bold;
		margin-bottom: 30px;
	}

	h2 {
		margin-bottom: 30px;
	}

	h3 {
		margin-bottom: 10px;
	}
	img {
	margin-top: 30px;
	margin-bottom: 90px;
	}
}

.carousel-item {
	img {
		padding: 10px 100px;
		margin: 100px 0;
	}
	h3 {
		padding: 50px 95px 0 0;
	
	}
	p {
		padding:  0 95px 10px 0;
	}


	a{
	margin-right: 95px;
	
	padding: 10px 20px;
		
	}  
}


#item1 {
	background: #7fc98f;
	a{
		color: #fff;
		background:#494a12;
	}
	a:hover{
		color: #494a12;
		background:#fff;
		border: 2px solid #494a12;
		text-decoration:none;
	}	
}

#item2 {
	background: #dea0f7;
	a{
		color: #fff;
		background:#632326;
	}
	a:hover{
		color: #632326;
		background:#fff;
		border: 2px solid #632326;
		text-decoration:none;
	}
}

#item3 {
	background: #78ddf9;
	a{
		color: #fff;
		background:#10236a;
	}
	a:hover{
		color: #10236a;
		background:#fff;
		border: 2px solid #10236a;
		text-decoration:none;
	}
}



.col-md-6, .col-12, .col-md-3, .col-sm-6, #navbarNav {
	padding: 80px 120px;

}
.navbar {
	background: $gold;
}

.carousel-control-next-icon {
	color: #000;
}

#logo {
	width: 40%;
	max-width: 10%;
	height: auto;
	margin-top: 90px;
	margin-bottom: 90px;
}

#contact {
	
	a{

	}
	a:hover {
		color: #bc9940;
		text-decoration:none;
	}
}
	#mail {
		
		border-right: 3px solid $gray-400;
	}

#articles {
	padding-bottom: 0;


}

#articles-list {
	
	//height: 100px;
	ul {
		margin-bottom: 200px;
	}
}

#about-us{
 	background-image: url("../assets/backgrounds/symphony-gold.jpg")
}

#about-product{
 background: url("../assets/backgrounds/knitting-blue.jpg");
}
#social-media{
.navbar-light .navbar-nav .active > .nav-link

 {color:red;}


}

